/* style.css */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f2f2;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
